<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='Human.png') }}" alt="Human Logo" class="logo">
        <h1>Human</h1>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
